In [1]:
import pandas as pd
import tpqoa
from OandaDataCollector import OandaDataCollector as odc

In [2]:
oanda_col=odc(symbol='EUR_USD', start='2022-05-01',
                  end='2023-05-01', spread_col=True)

In [3]:
oanda_col.data

                        Open     High      Low    Close  vol    spread  pips
Date
2022-05-02 00:00:00  1.05349  1.05402  1.05348  1.05394  291  0.000100  1.00
2022-05-02 00:01:00  1.05393  1.05401  1.05390  1.05398  203  0.000100  1.00
2022-05-02 00:02:00  1.05399  1.05410  1.05391  1.05404  170  0.000100  1.00
2022-05-02 00:03:00  1.05406  1.05450  1.05406  1.05443  163  0.000100  1.00
2022-05-02 00:04:00  1.05443  1.05448  1.05431  1.05436  106  0.000100  1.00
...                      ...      ...      ...      ...  ...       ...   ...
2023-04-28 20:54:00  1.10174  1.10174  1.10168  1.10168   19  0.000095  0.95
2023-04-28 20:55:00  1.10168  1.10176  1.10166  1.10172   67  0.000095  0.95
2023-04-28 20:56:00  1.10174  1.10176  1.10166  1.10168   44  0.000095  0.95
2023-04-28 20:57:00  1.10168  1.10172  1.10164  1.10170   33  0.000095  0.95
2023-04-28 20:58:00  1.10170  1.10170  1.10170  1.10170    2  0.000095  0.95

[361489 rows x 7 columns]

In [5]:
oanda_col.data.to_csv('oanda_EURUSD_1_year.csv')